

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<br/><br/><br/>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">          
		
		<main role="main" class="inner cover">
			<div class="transbox">
						<h3>One more for good measure.</h3>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									</div>
									<br></br><br>
			<a href='{% url "login" %}' class="btn btn-lg btn-secondary">Sign-in</a>
			</p>
		</main>

		<footer class="mastfoot">
			<div class="inner">
				<p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
			</div>
		</footer>
		</div>
	</div>
</div>

{% endblock content %}