{% block content %}
  <h2>CITE Department </h2>
  <p class="lead">Select below </p>
	{% for obj in students %}
  <p><a href='{% url "grade:detail1" last_name=obj.last_name %}'   role="button">First Year Record</a></p> 
  <p><a href='{% url "grade:detail2" last_name=obj.last_name %}'   role="button">Second Year Recodr</a></p>
  <p><a href='{% url "grade:detail3" last_name=obj.last_name  %}'   role="button">Third Year Record</a></p>
  <p><a href='{% url "grade:detail4" last_name=obj.last_name  %}'   role="button">Fourth Year Record</a></p>
 

 	{% endfor %}	
	
{% endblock %}
