
{% load crispy_forms_tags %}

{% block content %}
<head>

  {% load staticfiles %}
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/cards.css' %}">
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 

  <div class="container py-5">
  <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="cards card rounded-1">
                        <div class="card-header">
                            <h3 class="mb-0">Sign-up</h3>
                        </div>
                        <div class="card-body">
             {% csrf_token %}
   
             <p><div class="form-group">
                <label for="inputuser">{{form.user.label}}</label>
                {{ form.user }}
              </div></p>
           
                <div class="card">
                  <p><div class="form-group">
                             {{form.First_year_Grade}}
                    <label for="inputFirst_year_Grade">{{form.First_year_Grade.label}}</label>
                  </div></p>
   
                    <p><div class="form-group">
                             {{form.Second_year_Grade}}
                    <label for="inputSecond_year_Grade">{{form.Second_year_Grade.label}}</label>
                    </div></p>
                   <p> <div class="form-group">
                             {{form.Third_year_Grade}}
                    <label for="Third_year_Grade">{{form.Third_year_Grade.label}}</label>
                    </div></p>
                    <p><div class="form-group">
                             {{form.Fourth_year_Grade}}
                  <label for="inputFourth_year_Grade">{{form.Fourth_year_Grade.label}}</label>
              </div></p>
              </div>
             <p> <div class="form-group">
                <label for="inputsubject">{{form.subject.label}}</label>
              {{form.subject}}
              </div></p>
             <p> <div class="form-group">
                <label for="inputprofessor">{{form.professor.label}}</label>
                {{form.professor}}
              </div></p>

                    <p><div class="form-group">
                             {{form.First_Sem}}
                    <label for="inputName">{{form.First_Sem.label}}</label>
                  </div></p>

                    <p><div class="form-group">
                             {{form.Second_Sem}}
                    <label for="inputFirst_Sem">{{form.Second_Sem.label}}</label>
                  </div></p>
                            <div class="form-group">
                <label for="inputPassword3"><span>{{form.quiz.label}}</span></label>
                {{form.quiz}}
              </div>
                          <p>  <div class="form-group">
                <label for="inputperformance">{{form.performance.label}}</label>
                {{form.performance}}
              </div></p>
                            <p><div class="form-group">
                <label for="inputPassword3">{{form.exam.label}}</label>
                {{form.exam }}
              </div></p>
                  <p> <div class="form-group">
                             {{form.trinal}}
                    <label for="inputSecond_year_Grade">{{form.trinal.label}}</label>
                    </div></p>
                   <p> <div class="form-group">
                             {{form.midterm}}
                    <label for="Third_year_Grade">{{form.midterm.label}}</label>
                    </div></p>
                  <p> <div class="form-group">
                             {{form.Final }}
                  <label for="inputFourth_year_Grade">{{form.Final.label}}</label>
              </div></p>
        <button type="submit" class="btn btn-success">Sign up</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
{% endblock %}

